<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New User</title>
</head>
<body>
    <h1>Create a New User</h1>
    <form th:action="@{${formActionUrl}}" method="post" th:object="${user}">
        <label for="username">Username:</label>
        <input type="text" id="name" th:field="*{username}" required /><br/><br/>

        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required /><br/><br/>

        <input type="submit" value="Submit" />
    </form>
</body>
</html>