<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>User Profile</title>
</head>

<body>
    <h1>User Profile</h1>
    <p><strong>ID:</strong> <span th:text="${user.id}">[User ID]</span></p>
    <p><strong>Username:</strong> <span th:text="${user.username}">[Username]</span></p>
    <!-- Add more fields as needed -->
    <h1>Expenses List</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Category</th>
                <th>Time</th>
                <!-- Add more headers if needed -->
            </tr>
        </thead>
        <tbody>
            <!-- Check if the array is empty -->
            <tr th:if="${#lists.isEmpty(user.expenses)}">
                <td colspan="5" style="text-align: center;">No items found.</td>
            </tr>
            <!-- Iterate over the array using th:each -->
            <tr th:each="expense, iterStat : ${user.expenses}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${expense.amount}">Amount</td>
                <td th:text="${expense.description}">Description</td>
                <td th:text="${expense.category}">Category</td>
                <td th:text="${expense.time}">Time</td>
                <td>
                    <form th:action="@{/users/expenses/{expenseId}(expenseId=${expense.id})}" method="post">
                        <input type="submit" value="Delete" />
                    </form>
                </td>

                <!-- Add more cells if needed -->
            </tr>
        </tbody>
    </table>
    <br>
    <div>
        <a th:href="@{/users/expenses/new}">New Expense</a>
    </div>
    <br>
    <div>
        <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" />
        </form>
    </div>
</body>

</html>